This file is used to concatenate all calculated data into one file, because data is calculated in chunks and saved in separate files.
Data is sorted chronologically indexes are reset and file is written to parquet format.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
list_of_files = []
directory = "./TB_processed_data"
#only match files that start with processed and end with .parquet
for filename in os.listdir(directory):
    if filename.startswith("processed") and filename.endswith(".parquet"):
        list_of_files.append(filename)


n = len(list_of_files)
print("Number of files: ", n)
print("Files: ", list_of_files)

Number of files:  2
Files:  ['processed_data(textblob)_noneutral_19-08-22to14-06-23.parquet', 'processed_data(textblob)_noneutral_24-02-22to19-08-22.parquet']

In [3]:
#load all the data and concatenate them into one dataframe
df = pd.DataFrame()
for i in range(n):
    df = pd.concat([df, pd.read_parquet(directory + "/" + list_of_files[i])], ignore_index=True)

In [4]:
#extractedts to datetime
df['extractedts'] = pd.to_datetime(df['extractedts'])
df.sort_values(by=['extractedts'], inplace=True)
df.reset_index(drop=True, inplace=True)
df

          polarity  subjectivity                extractedts
0        -0.875000      1.000000 2022-02-24 06:51:09.665136
1        -0.037727      0.180909 2022-02-24 06:51:09.732106
2         0.100000      0.400000 2022-02-24 06:51:09.746099
3        -0.155556      0.288889 2022-02-24 06:51:09.816932
4         0.068182      0.227273 2022-02-24 06:51:09.836479
...            ...           ...                        ...
13130547  0.226667      0.285000 2023-06-14 15:28:05.139321
13130548 -0.261905      0.500000 2023-06-14 15:28:05.636928
13130549  0.015909      0.457792 2023-06-14 15:28:05.751305
13130550 -0.050000      0.160000 2023-06-14 15:28:06.037166
13130551 -0.500000      0.533333 2023-06-14 15:28:06.262686

[13130552 rows x 3 columns]

In [5]:
#print first and last date
print("First date: ", df['extractedts'].min())
print("Last date: ", df['extractedts'].max())
print("This covers a period of ", df['extractedts'].max() - df['extractedts'].min())

First date:  2022-02-24 06:51:09.665136
Last date:  2023-06-14 15:28:06.262686
This covers a period of  475 days 08:36:56.597550

In [6]:
#save it
filename = "processed_data(textblob)_noneutral_alldata.parquet"
path_filename = directory + "/" + filename
df.to_parquet(path_filename)