In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
list_of_files = []
directory = "./TB_processed_data"
#only match files that start with biggerdata and end with .parquet
for filename in os.listdir(directory):
    if filename.startswith("biggerdata") and filename.endswith(".parquet"):
        list_of_files.append(filename)


n = len(list_of_files)
print("Number of files: ", n)
print("Files: ", list_of_files)

Number of files:  9
Files:  ['biggerdata_processed_10_iteration.parquet', 'biggerdata_processed_20_iteration.parquet', 'biggerdata_processed_30_iteration.parquet', 'biggerdata_processed_40_iteration.parquet', 'biggerdata_processed_50_iteration.parquet', 'biggerdata_processed_60_iteration.parquet', 'biggerdata_processed_70_iteration.parquet', 'biggerdata_processed_80_iteration.parquet', 'biggerdata_processed_90_iteration.parquet']

In [3]:
#load all the data and concatenate them into one dataframe
df = pd.DataFrame()
for i in range(n):
    df = pd.concat([df, pd.read_parquet(directory + "/" + list_of_files[i])], ignore_index=True)

In [4]:
#extractedts to datetime
df['extractedts'] = pd.to_datetime(df['extractedts'])
df

          polarity  subjectivity                extractedts
0         0.166667      0.166667 2022-04-01 00:44:20.097867
1         0.800000      0.900000 2022-04-01 00:09:37.148770
2         0.069481      0.442316 2022-04-01 00:09:37.125654
3        -0.065000      0.185000 2022-04-01 00:31:39.674382
4         0.301894      0.355556 2022-04-01 00:09:37.101459
...            ...           ...                        ...
12313133  0.250000      0.250000 2022-07-04 00:59:54.684135
12313134  0.383333      0.583333 2022-07-04 01:33:57.282529
12313135 -0.083673      0.275510 2022-07-04 01:10:45.335862
12313136 -0.055556      0.227778 2022-07-04 01:10:45.324185
12313137  0.350000      0.650000 2022-07-04 01:10:45.312464

[12313138 rows x 3 columns]

In [5]:
#print first and last date
print("First date: ", df['extractedts'].min())
print("Last date: ", df['extractedts'].max())
print("This covers a period of ", df['extractedts'].max() - df['extractedts'].min())

First date:  2022-04-01 00:01:44.782367
Last date:  2022-07-04 01:34:17.292538
This covers a period of  94 days 01:32:32.510171

In [6]:
#save it
filename = "processed_data_without_neutral_values_01-04-22to04-07-22.parquet"
path_filename = directory + "/" + filename
df.to_parquet(path_filename)