This file is used to concatenate all calculated data into one file, because data is calculated in chunks and saved in separate files.
Data is sorted chronologically indexes are reset and file is written to parquet format.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [8]:
list_of_files = []
directory = "./TB_processed_data"
#only match files that start with biggerdata and end with .parquet
for filename in os.listdir(directory):
    if filename.startswith("biggerdata") and filename.endswith(".parquet"):
        list_of_files.append(filename)


n = len(list_of_files)
print("Number of files: ", n)
print("Files: ", list_of_files)

Number of files:  3
Files:  ['biggerdata_processed_150_iteration.parquet', 'biggerdata_processed_160_iteration.parquet', 'biggerdata_processed_170_iteration.parquet']

In [9]:
#load all the data and concatenate them into one dataframe
df = pd.DataFrame()
for i in range(n):
    df = pd.concat([df, pd.read_parquet(directory + "/" + list_of_files[i])], ignore_index=True)

In [10]:
#extractedts to datetime
df['extractedts'] = pd.to_datetime(df['extractedts'])
df.sort_values(by=['extractedts'], inplace=True)
df.reset_index(drop=True, inplace=True)
df

         polarity  subjectivity                extractedts
618     -0.100000      0.400000 2022-03-01 00:02:23.285849
617      0.100000      0.294444 2022-03-01 00:02:23.292643
616      0.300000      0.500000 2022-03-01 00:02:23.306651
615      0.500000      0.500000 2022-03-01 00:02:23.321486
614      0.100000      0.650000 2022-03-01 00:02:23.340397
...           ...           ...                        ...
6025008  0.250000      0.250000 2022-03-31 23:44:25.044573
6025007 -0.200000      0.275000 2022-03-31 23:44:25.070232
6025006 -0.250000      0.250000 2022-03-31 23:44:25.087236
6025005 -0.133333      0.183333 2022-03-31 23:44:25.095659
6025004  0.100000      0.400000 2022-03-31 23:44:25.130394

[6026154 rows x 3 columns]

In [11]:
#print first and last date
print("First date: ", df['extractedts'].min())
print("Last date: ", df['extractedts'].max())
print("This covers a period of ", df['extractedts'].max() - df['extractedts'].min())

First date:  2022-03-01 00:02:23.285849
Last date:  2022-03-31 23:44:25.130394
This covers a period of  30 days 23:42:01.844545

In [13]:
#save it
filename = "processed_data_without_neutral_values_last30sets.parquet"
path_filename = directory + "/" + filename
df.to_parquet(path_filename)